.image {
    background-color: #490D40;
    background: url(https://sonorangirl.github.io/Earth-Quotes/img/google-earth-view-South-Iceland3.jpg) no-repeat center center;
    background-size: cover;
    height: 570px;
    margin-top: -20px;
}
image .heading {
    color: white;
    text-align: center;
    padding-top: 200px;
}

.image p {
    text-align: center;
    padding: 20px 60px;
  }
.image p .btn {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding: 10px;
    font-size: 1.2em;
}
.image p .btn:hover {
    color: #C57ED3;
    border-color: #C57ED3;
}
